<html>
  <head>
    <title>Client - resource</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        padding: 20px;
      }

      h1 {
        margin-bottom: 30px;
      }

      .header {
        font-weight: 900;
      }
    </style>
  </head>

  <body>
    <h1>Books</h1>
    <% books.data.forEach(book => { %>
      <div>
        <span class="header">Title: </span><span><%- book.title %></span>
        <span class="header">Author: </span><span><%- book.author %></span>
      </div>
    <% }) %>
  </body>
</html>