<html>
  <head>
    <title>Book Store</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/client.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 class="main-title">Book Collection</h1>
        <h2 class="tag-line">Organise your books</h2>
      </div>

      <div class="error-container">
        <h1>Error:</h1>
        <p><%- error %></p>
      </div>

      <a href="/">Go Home</a>
    </div>
  </body>
</html>