<html>
  <head>
    <title>Client</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        padding: 20px
      }

      a {
        color: white;
        text-decoration: none;
      }

      .btn {
        background: red;
        border: 0;
        padding: 10px 20px;
        box-shadow: 0 0 5px gray;
        cursor: pointer;
      }

      .btn:hover {
        box-shadow: 0 0 0;
      }

      .btn:active {
        box-shadow: inset 2px 2px 0 gray;
        background: crimson;
      }
    </style>
  </head>

  <body>
    <a href="/auth" class="btn">Connect Socials</a>
  </body>
</html>
