<html>
  <head>
    <title>Authorization Server</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/auth.css">
  </head>

  <body>
    <div class="container">
      <h2>Approve client</h2>

      <p><%- client.client_name %> is trying to gain the following access:</p>

      <form action="/auth/approve" method="POST">
        <input type="hidden" name="reqId" value="<%- reqId %>" />
        <ul>
        <% scopes.forEach(function(scope) { %>
          <li><input type="checkbox" checked="checked" name="scope_<%- scope %>" /><%- scope %></li>
        <% }) %>
        </ul>
        <input type="submit" name="approve" value="Approve" />
        <input type="submit" name="deny" value="Deny" />
      </form>
    </div>
  </body>
</html>