<html>
  <head>
    <title>Authorization Server</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/auth.css">
  </head>

  <body>
    <nav>
      <h1>MY BOOK API</h1>
    </nav>
    <div class="container">
      <h1>Clients</h1>
      <div class="clients">
        <% clients.forEach(function(client) { %>
        <ul>
          <li><span class="client-label">client_name:</span> <%- client.client_name %></li>
          <li><span class="client-label">client_id:</span> <%- client.client_id %></li>
          <li><span class="client-label">client_secret:</span> <%- client.client_secret %></li>
          <li><span class="client-label">scope:</span> <%- client.scope %></li>
          <li><span class="client-label">redirect_uri:</span> <%- client.redirect_uri %></li>
        </ul>
        <% }) %>
      </div>
    </div>
  </body>
</html>
