<html>
  <head>
    <title>Authorization Server</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/auth.css">
  </head>

  <body>
    <h1>Authorization Server</h1>

    <h2>Clients</h2>
    <% clients.forEach(function(client) { %>
    <ul>
      <li><b>client_id:</b> <%- client.client_id %></li>
      <li><b>client_secret:</b> <%- client.client_secret %></li>
      <li><b>scope:</b> <%- client.scope %></li>
      <li><b>redirect_uri:</b> <%- client.redirect_uri %></li>
    </ul>
    <% }) %>
  </body>
</html>
