a {
  color: white;
  text-decoration: none;
}

.btn {
  background: red;
  border: 0;
  padding: 10px 20px;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 0;
}

.btn:active {
  box-shadow: inset 2px 2px 0 gray;
  background: crimson;
}

h1 {
  margin-bottom: 30px;
}

.header {
  font-weight: 900;
}
