* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px
}

a {
  display: inline-block;
}

ul {
  list-style: none;
}

input[type="text"] {
  padding: 5px 10px;
  box-shadow: 1px 1px 2px gray;
}

form {
  margin-top: 10px;
}
